{{#each movies}}
<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center p-3 text-center">
    <img height="250" width="auto" src="{{image}}">
    <h4>{{title}}</h4>
    <h6>{{year}}</h6>
    <h6>{{genre}}</h6>
    <button class="btn move-to-watch-list" data-id="{{id}}">
        Unwatch
    </button>
    <button class="btn delete-from-list" data-id="{{id}}">
        Delete
    </button>
</div>
{{/each}}
{{#unless movies}}
<h3 class="text-center"><br><br>You have no movies in your Completed List.</h3>
{{/unless}}